<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <title>Test</title>
  <script src="https://unpkg.com/htmx.org@1.9.5"
    integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
    crossorigin="anonymous"></script>

  <style>
    table {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    td {
      text-align: center;
    }
  </style>
</head>

<p>
  Hello World
</p>
<button onclick='alert("Hello World")' class="button">
  HALLOO SDOADOSD
</button>

<table>
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Age
      </th>
    </tr>
  <tbody hx-get="/test" hx-trigger="revealed" hx-swap="innerHTML">
    <!-- <tr> -->
    <!--   <td> -->
    <!--     Max Mustermann -->
    <!--   </td> -->
    <!--   <td> -->
    <!--     99 -->
    <!--   </td> -->
    <!-- </tr> -->
  </tbody>
</table>
